#board .row .columns {
    border: 1px solid #2199e8;
    height: 200px;
}

#board .row .top {
    border-top-width: 2px;
}

#board .row .left {
    border-left-width: 2px;
}

#board .row .right {
    border-right-width: 2px;
}

#board .row .bottom {
    border-bottom-width: 2px;
}

#board .row div {
    font-size: 100px;
    text-align: center;
    line-height: 200%;
}

.x {
    color: #3adb76;
}

.x::after {
    content: "✖";
}

.o {
    color: #ffae00;
    font-weight: bold;
}

.o::after {
    content: "🌕";
}